#champion {
  text-align: center;
}

.champion {
  border: 3px solid transparent;
  display: inline-block;
  padding: 10px;
}

.champion:hover {
  border: 3px solid gold;
  cursor: hand;
}

.teamMember {
  border: 3px solid transparent;
  display: inline-block;
  padding: 10px;
}

.teamMember:hover {
  border: 3px solid gold;
  cursor: hand;
}

#champions {
}

#team {
  background-color: #000;
  min-height: 70px;

}
